<div class="panel panel-primary" style="width:98%">
  <div class="panel-heading">会议室预订细则及流程指导</div>
  <div class="panel-body">
    <p>为保证各类会议的顺利召开，提高会议室的利用率，请所有员工注意并遵守如下预订细则：</p>

    <ol>
      <li>所有会议室的使用,以“会议室预订系统”中的预订信息为准。</li>
      <li>如需使用投影仪、音响及其他物品至少提前一天通知行政部，以便提前准备。</li>
      <li>会议结束后，申请人负责关闭投影仪、空调、灯，归还借用设备.如发现设备故障及公物损坏，请及时告知行政部。</li>
    </ol>

    <p><strong>温馨提示：</strong></p>

    <ol>
      <li>请勿预订如下时间段</li><br/>

      <blockquote><p>每周一  10:00-11:00 （公司例会，301圆形桌，301大会议室）  <br/>
      每周五  17:00-18:00 （高层例会，302小会议室，301大会议室）</p></blockquote>

      <li>可借设备及联系人</li><br/>

      <blockquote><p>投影仪、音响、电脑（302前台李永丽、魏洁） <br/>
      小蜜蜂扩音器（301 运维部朱荣庆、沈路路）</p></blockquote>
    </ol>

    <p>会议室预订流程图：</p>
    <img src="/process.png" style="width:98%"></img>

    <p>预订系统界面：</p>
    <img src="/preview.png" style="width:98%"></img>

    <p>Platform Service Dept. <a href="mailto:liuzhenfu@100.me">Email me</a> if you find a bug or need a feature.</p>
  </div>
</div>
