<div class="panel panel-primary">
  <div class="panel-heading">新增预约</div>
  <div class="panel-body">请填写预约会议室：申请人、会议室名称、起始时间</div>
  <div style="width: 96%; margin-left: 2%;">
    <%= render 'form' %>
</div>
