<!DOCTYPE html>
<html>
<head>
  <title>Meeting</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
    <script src="html5shiv.min.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="height: 100%;margin:0;padding:0;">
  <div style="height: 100%;">
  <!--[if IE]>
  <div class="alert alert-danger" role="alert">
    <strong>你正在使用 IE 浏览器！</strong>
    电脑经常中毒？最大的原因就是：使用 IE 浏览器或 360 等带有 IE 内核的浏览器。
    下载 <a href="https://www.google.com/chrome/browser/">Chrome</a>、<a href="http://www.firefox.com.cn/download/">Firefox</a>、<a href="http://support.apple.com/kb/DL1531?viewlocale=zh_CN">Safari</a>，上网更安全。
  </div>
  <![endif]-->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">会议室预订系统</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/orders/new">预约</a></li>
        <li><a href="/orders/current_meetings">释放</a></li>
      </ul>
    </div>
  </nav>
  <div style="width: 96%; margin-left: 2%;">
    <%= yield %>
  </div>
</div>
</body>
</html>
